<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="fa">

<head>
    <partial name="PartialViews/_MetaTags"/>

    <title>@ViewData["Title"]</title>

    <partial name="PartialViews/_Styles" />
</head>

<body>

    <div class="page-wrapper">
    <partial name="PartialViews/_Header" />
        <!-- page-content -->
      @RenderBody()
        <!--  page-content -->
        <partial name="PartialViews/_Footer"/>
    </div>


<partial name="PartialViews/_Scripts"/>
<partial name="PartialViews/_ValidationScriptsPartial"/>
</body>

</html>
@RenderBody()
