
$font-fa: iranyekan;
$font-fa-num: iranyekanfanum;
$font-en: AdobeClean;
$font-icon: remixicon;
$font-base: 14px;


$color-primary: #ef4056;
$color-text-primary: #fff;
$color-text-dark: #000;
$color-body: #fff;
$color-box:#f0f0f1;


$primary: #5e2aff;
$danger: #ff1657;
$info: #039be5;
$success: #06d6a0;
$warning: #faae42;
$link:#19bfd3;