
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">@DataDictionaries.DeleteRole</h4>
</div>
<form asp-page="./Index"
      asp-page-handler="Delete"
      data-ajax="true"
      data-action="Refresh"
      enctype="multipart/form-data"
      method="post">
    <div class="modal-body">
        <h4>@ConfirmationMessages.DeleteRoleConfirmation</h4>
        <input id="roleIdInp" type="hidden" name="roleId" />
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-info waves-effect waves-light">@ButtonCaptions.Delete</button>
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">@ButtonCaptions.Cancel</button>
    </div>

</form>