@page
@model Server.Areas.Administration.Pages.Shop.ProductGroups.ProductDetails.IndexModel
@{
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@DataDictionaries.ProductImages</h3>
            </div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <div>
                                <div class="col-md-5">
                                    <input name="tags" id="tags" class="form-control" value="" style="display: none;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles
{
<link href="/AdminContent/assets/tagsinput/jquery.tagsinput.css" rel="stylesheet" />
}
@section Scripts{
<script src="/AdminContent/assets/js/jquery.app.js"></script>
<script src="/AdminContent/assets/tagsinput/jquery.tagsinput.min.js"></script>
<script>
    jQuery(document).ready(function() {
        jQuery('#tags').tagsInput({ width: 'auto' });
    });
</script>
}
