@page
@model Server.Pages.Account.RegisterAndLoginModel
@{
}

<div class="page-wrapper">
       <partial name="PartialViews/_AccountHeader"/>
        <main class="page-content page-auth">

            <div class="auth-container">
                <div class="auth-title mb-3">ورود / ثبت نام</div>
                <div class="auth-box ui-box">

                    <form method="post">
                        <div class="form-element-row mb-5">
                            <input type="text" class="form-control" placeholder="شماره موبایل یا ایمیل">
                        </div>

                        <div class="form-element-row mb-3">
                            <button class="btn btn-primary">ادامه</button>
                        </div>

                         <div class="form-element-row">
                            <div>با ورود و یا ثبت نام در سایت شما <a href="#" class="link">شرایط و
                                    قوانین</a> استفاده
                                از تمام سرویس های
                                سایت و <a href="#" class="link">قوانین حریم خصوصی</a> آن را می‌پذیرید.
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </main>
    <partial name="PartialViews/_AccountFooter"/>
    </div>
