@{
    Layout = null;
}

<div class="topbar">
    
    <div class="navbar navbar-default" role="navigation">
        
        <div class="container">
            
            <div class="">
                <div class="pull-right" style="margin-right:-15px">
                    <button class="button-menu-mobile open-left">
                        <i class="fa fa-bars"></i>
                    </button>
                    <span class="clearfix"></span>
                </div>
                
                <div>
                    <div class="text-center">
                        <a href="/Administration" class="logo"><i class="md md-terrain"></i> <span>مای استور </span></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>