@{
    Layout = null;
}

<header class="page-mini-header py-4">
    <div class="d-flex justify-content-center">
        <div class="logo-container">
            <a href="/" class="logo"><img src="~/assets/images/logo-dark.png" width="120" alt="" asp-append-version="true"></a>
        </div>
    </div>
</header>