@{
    Layout = null;
}

<footer class="page-mini-footer">

    <div class="copy-right bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-md-0 mb-4">
                    <div class="text-muted text-md-start text-center">کليه حقوق اين سايت متعلق به مای استور می‌باشد.</div>
                </div>
                <div class="col-md-6">
                    <div class="text-muted text-md-end text-center">2022 © Copyright</div>
                </div>
            </div>
        </div>
    </div>
</footer>