@{
    Layout = null;
}

<!-- page-header -->
<header class="page-header d-md-block d-none">
    <!-- banner -->
    <div class="alert banner-container alert-dismissible fade show" role="alert">
        <a href="#" class="banner-placement rounded-0"
           style="background-image: url(/assets/images/banner/017.jpg);height: 60px;"></a>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!--  banner -->
    <!-- page-header-top -->
    <div class="page-header--top">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="page-header--top-right">
                    <div class="notification-container notification-light">
                        <div class="swiper notification-swiper-slider mb-5">
                            <!-- wrapper -->
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="swiper-slide">
                                    <div class="notification-item">
                                        <div class="notification-item--text">به فروشگاه اینترنتی مای استور خوش آمدید</div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="notification-item">
                                        <div class="notification-item--text">

                                            پشتیبانی سریع ، ارسال رایگان ، تحویل اکسپرس
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="notification-item">
                                        <div class="notification-item--text">

                                            به باشگاه مشتریان ما بپیوندید
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-header--top-left">
                    <ul class="nav nav-light justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="faq.html">پرسش های متداول</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact-us.html">تماس با ما</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about.html">درباره ما</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--  page-header-top -->
    <!-- page-header-middle -->
    <div class="page-header--middle">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center flex-grow-1 pe-3">
                    <div class="logo-container logo-box me-3">
                        <a href="index-1.html" class="logo">
                            <img src="~/assets/images/logo-dark.png" width="120" alt="">

                        </a>
                    </div>
                    <div class="search-container">
                        <form action="#" class="search-form">
                            <input type="text" class="form-control search-field" placeholder="جستجو">
                            <button class="btn btn-primary btn-search btn-action">
                                <i class="ri-search-2-line"></i>
                            </button>
                            <button class="btn btn-primary btn-close-search-result btn-action d-none">
                                <i class="ri-close-line"></i>
                            </button>
                        </form>
                        <div class="search-result-container">
                            <div class="search-result-tags-container">
                                <div class="search-result-tags-label"><i class="ri-fire-line"></i>جستجوهای پرطرفدار</div>
                                <ul class="search-result-tags">
                                    <li><a href="#" class="search-result-tag">گوشی موبایل</a></li>
                                    <li><a href="#" class="search-result-tag">لوازم خانگی برقی</a></li>
                                    <li><a href="#" class="search-result-tag">لپ تاپ</a></li>
                                    <li><a href="#" class="search-result-tag">کنسول بازی</a></li>
                                    <li><a href="#" class="search-result-tag">دوچرخه</a></li>
                                </ul>
                            </div>
                            <div class="border-bottom my-3"></div>
                            <ul class="search-result-items">
                                <li><a href="#">گوشی موبایل</a></li>
                                <li><a href="#">گوشی موبایل  سامسونگ</a></li>
                                <li><a href="#">گوشی موبایل سامسونگ</a></li>
                                <li><a href="#">قاب گوشی موبایل</a></li>
                                <li><a href="#">گوشی موبایل اپل</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="user-options">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="user-option user-option--account">
                            <a href="profile.html" class="user-option-btn user-option-btn--account">
                                <i class="ri-user-fill icon"></i>
                                <i class="ri-arrow-down-s-fill icon fs-7 text-muted"></i>
                            </a>
                            <div class="user-option--dropdown">
                                <div class="profile-user-info ui-box">
                                    <div class="profile-detail">
                                        <div class="d-flex align-items-center">
                                            <div class="profile-avatar me-3">

                                                <img src="~/assets/images/avatar/default.png" alt="avatar">
                                            </div>
                                            <div class="profile-info">
                                                <a href="profile.html" class="text-decoration-none text-dark fw-bold mb-2">محسن اسماعیلی</a>
                                                <div class="text-muted fs-7 fw-bold">۰۹xxxxxxxxx</div>
                                            </div>
                                        </div>
                                        <div class="user-options">
                                            <ul>
                                                <li>
                                                    <span class="label">کیف پول</span>
                                                    <span class="detail">
                                                        <span class="d-block">

                                                            ۰ <span class="currency fs-7 fw-bold">تومان</span>

                                                        </span>
                                                        <a href="#"
                                                       class="link border-bottom-0 text-info fs-7 fw-bold">

                                                            افزایش
                                                            موجودی <i class="ri-arrow-left-s-line"></i>

                                                        </a>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span class="label">باشگاه مشتریان</span>
                                                    <span class="detail">
                                                        <span class="d-block">

                                                            ۰ <span class="score text-muted fs-7">امتیاز</span>

                                                        </span>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <ul class="nav nav-items-with-icon flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="profile-my-orders.html">

                                                <i class="nav-link-icon ri-file-list-3-line"></i>
                                                سفارش
                                                های من

                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">

                                                <i class="nav-link-icon ri-copper-coin-fill"></i>
                                                باشگاه مشتریان

                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="profile-favorites.html">

                                                <i class="nav-link-icon ri-heart-3-fill"></i>
                                                کالاهای مورد علاقه

                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/Account/RegisterAndLogin/Logout"  class="nav-link">

                                                <i class="nav-link-icon ri-logout-box-r-line"></i>
                                                خروج
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="user-option user-option--cart">
                            <a href="cart.html" class="user-option-btn user-option-btn--cart">
                                <i class="ri-shopping-bag-2-fill icon"></i>
                                <span class="user-item-text">
                                    <span class="title">مبلغ سفارش شما</span>
                                    <span class="value fa-num">57,372,000 <span class="currency">تومان</span></span>
                                </span>
                                <span class="counter">۴</span>
                            </a>
                            <div class="mini-cart">
                                <div class="mini-cart-header">
                                    <span class="mini-cart-products-count fa-num">4 کالا</span>
                                    <a href="cart.html" class="btn btn-link px-0">

                                        مشاهده سبد خرید <i class="ri-arrow-left-s-fill"></i>

                                    </a>
                                </div>
                                <div class="mini-cart-products do-simplebar">
                                    <div class="mini-cart-product">
                                        <div class="mini-cart-product-thumbnail">
                                            <a href="#"><img src="~/assets/images/products/01.jpg" alt=""></a>
                                        </div>
                                        <div class="mini-cart-product-detail">
                                            <div class="mini-cart-product-brand"><a href="#">apple</a></div>
                                            <div class="mini-cart-product-title">
                                                <a href="product-v1.html">

                                                    گوشی موبایل اپل مدل iPhone 13 A2634 دو سیم‌ کارت ظرفیت
                                                    128
                                                    گیگابایت و رم 4 گیگابایت

                                                </a>
                                            </div>
                                            <div class="mini-cart-purchase-info">
                                                <div class="mini-cart-product-meta">
                                                    <span class="fa-num">1 عدد</span>
                                                    <span class="color" style="background-color: #ff0000;"></span>
                                                </div>
                                                <div class="mini-cart-product-price fa-num">

                                                    21,200,000<span class="currency">تومان</span>

                                                </div>
                                            </div>
                                            <button class="mini-cart-product-remove"></button>
                                        </div>
                                    </div>
                                    <div class="mini-cart-product">
                                        <div class="mini-cart-product-thumbnail">
                                            <a href="#"><img src="~/assets/images/products/02.jpg" alt=""></a>
                                        </div>
                                        <div class="mini-cart-product-detail">
                                            <div class="mini-cart-product-brand"><a href="#">xiaomi</a></div>
                                            <div class="mini-cart-product-title">
                                                <a href="product-v1.html">

                                                    گوشی موبایل  سامسونگ مدل 11 lite 5G NE 2109119DG دو سیم‌
                                                    کارت
                                                    ظرفیت 256 گیگابایت و رم 8 گیگابایت

                                                </a>
                                            </div>
                                            <div class="mini-cart-purchase-info">
                                                <div class="mini-cart-product-meta">
                                                    <span class="fa-num">1 عدد</span>
                                                    <span class="color" style="background-color: #ff0000;"></span>
                                                </div>
                                                <div class="mini-cart-product-price fa-num">

                                                    15,200,000 <span class="currency">تومان</span>

                                                </div>
                                            </div>
                                            <button class="mini-cart-product-remove"></button>
                                        </div>
                                    </div>
                                    <div class="mini-cart-product">
                                        <div class="mini-cart-product-thumbnail">
                                            <a href="#"><img src="~/assets/images/products/05.jpg" alt=""></a>
                                        </div>
                                        <div class="mini-cart-product-detail">
                                            <div class="mini-cart-product-brand"><a href="#">apple</a></div>
                                            <div class="mini-cart-product-title">
                                                <a href="product-v1.html">

                                                    گوشی موبایل اپل مدل iPhone 12 Pro Max A2412 دو سیم‌ کارت
                                                    ظرفیت
                                                    256 گیگابایت

                                                </a>
                                            </div>
                                            <div class="mini-cart-purchase-info">
                                                <div class="mini-cart-product-meta">
                                                    <span class="fa-num">1 عدد</span>
                                                    <span class="color" style="background-color: #ff0000;"></span>
                                                </div>
                                                <div class="mini-cart-product-price fa-num">

                                                    36,300,000 <span class="currency">تومان</span>

                                                </div>
                                            </div>
                                            <button class="mini-cart-product-remove"></button>
                                        </div>
                                    </div>
                                    <div class="mini-cart-product">
                                        <div class="mini-cart-product-thumbnail">
                                            <a href="#"><img src="~/assets/images/products/07.jpg" alt=""></a>
                                        </div>
                                        <div class="mini-cart-product-detail">
                                            <div class="mini-cart-product-brand"><a href="#">samsung</a></div>
                                            <div class="mini-cart-product-title">
                                                <a href="product-v1.html">

                                                    گوشی موبایل سامسونگ مدل Galaxy S9 Plus دو سیم کارت ظرفیت
                                                    64
                                                    گیگابایت

                                                </a>
                                            </div>
                                            <div class="mini-cart-purchase-info">
                                                <div class="mini-cart-product-meta">
                                                    <span class="fa-num">1 عدد</span>
                                                    <span class="color" style="background-color: #ff0000;"></span>
                                                </div>
                                                <div class="mini-cart-product-price fa-num">

                                                    18,888,000 <span class="currency">تومان</span>

                                                </div>
                                            </div>
                                            <button class="mini-cart-product-remove"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="mini-cart-footer">
                                    <div class="mini-cart-total">
                                        <span class="mini-cart-total-label">مبلغ قابل پرداخت:</span>
                                        <span class="mini-cart-total-value fa-num">

                                            57,372,000 <span class="currency">تومان</span>

                                        </span>
                                    </div>
                                    <a href="shipping.html" class="btn btn-primary">ورود و ثبت سفارش</a>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="btn btn-outline-light">
                            <a href="/Account/RegisterAndLogin" class="text-danger" style="text-decoration: none">
                                <i class="ri-user-3-line"></i>|
                                <b>ورود/ثبت نام</b>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!--  page-header-middle -->
    <!-- page-header-bottom -->
    <div class="page-header--bottom">
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="vertical-menu">
                    <a href="#" class="vertical-menu-btn"><i class="ri-menu-5-fill"></i> دسته بندی محصولات</a>
                    <div class="vertical-menu-items">
                        <ul>
                            <li class="mega-menu-category show">
                                <a href="#"><span class="ri-macbook-line"></span>کالای دیجیتال</a>
                                <ul class="mega-menu">
                                    <li class="parent"><a href="#">لوازم جانبی گوشی</a></li>
                                    <li><a href="#">کیف و کاور گوشی</a></li>
                                    <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                    <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                    <li class="parent"><a href="#">گوشی موبایل</a></li>
                                    <li><a href="#">سامسونگ</a></li>
                                    <li><a href="#">هوآوی</a></li>
                                    <li><a href="#">اپل</a></li>
                                    <li><a href="#"> سامسونگ</a></li>
                                    <li><a href="#">آنر</a></li>
                                    <li><a href="#">نوکیا</a></li>
                                    <li class="parent"><a href="#">واقعیت مجازی</a></li>
                                    <li class="parent"><a href="#">مچ بند و ساعت هوشمند</a></li>
                                    <li class="parent"><a href="#">گوشی موبایل</a></li>
                                    <li><a href="#">سامسونگ</a></li>
                                    <li><a href="#">هوآوی</a></li>
                                    <li><a href="#">اپل</a></li>
                                    <li><a href="#"> سامسونگ</a></li>
                                    <li><a href="#">آنر</a></li>
                                    <li><a href="#">اپل</a></li>
                                    <li><a href="#"> سامسونگ</a></li>
                                    <li><a href="#">آنر</a></li>
                                    <li><a href="#">نوکیا</a></li>
                                    <li><a href="#">اپل</a></li>
                                    <li><a href="#"> سامسونگ</a></li>
                                    <li><a href="#">آنر</a></li>
                                    <li><a href="#">نوکیا</a></li>
                                    <li><a href="#">نوکیا</a></li>
                                    <li class="parent"><a href="#">لوازم جانبی گوشی</a></li>
                                    <li><a href="#">کیف و کاور گوشی</a></li>
                                    <li><a href="#">پاور بانک (شارژر همراه)</a></li>
                                    <li><a href="#">پایه نگهدارنده گوشی</a></li>
                                    <li class="parent"><a href="#">واقعیت مجازی</a></li>
                                    <li class="parent"><a href="#">گوشی موبایل</a></li>
                                    <li><a href="#">سامسونگ</a></li>
                                    <li><a href="#">هوآوی</a></li>
                                    <li><a href="#">اپل</a></li>
                                    <li><a href="#"> سامسونگ</a></li>
                                    <li><a href="#">آنر</a></li>
                                    <li><a href="#">نوکیا</a></li>
                                </ul>
                            </li>
                            <li class="mega-menu-category">
                                <a href="#"><span class="ri-t-shirt-line"></span>مد و پوشاک</a>
                                <ul class="mega-menu">
                                    <li class="parent"><a href="#">لباس</a></li>
                                    <li><a href="#">سویشرت و هودی</a></li>
                                    <li><a href="#">ژاکت و پلیور</a></li>
                                    <li><a href="#">تی شرت و پولوشرت</a></li>
                                    <li><a href="#">لباس راحتی و خواب</a></li>
                                    <li><a href="#">شلوار و سرهمی</a></li>
                                    <li><a href="#">جین</a></li>
                                    <li><a href="#">دامن</a></li>
                                    <li><a href="#">لباس زیر</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                    <li class="parent"><a href="#">کیف</a></li>
                                    <li><a href="#">کوله پشتی</a></li>
                                    <li><a href="#">کیف پول و لوازم آرایش</a></li>
                                    <li><a href="#">ست کیف و کفش</a></li>
                                    <li class="parent"><a href="#">کفش</a></li>
                                    <li><a href="#">نیم بوت</a></li>
                                    <li><a href="#">بوت</a></li>
                                    <li><a href="#">کالج</a></li>
                                    <li><a href="#">صندل</a></li>
                                    <li class="parent"><a href="#">لباس</a></li>
                                    <li><a href="#">سویشرت و هودی</a></li>
                                    <li><a href="#">ژاکت و پلیور</a></li>
                                    <li><a href="#">تی شرت و پولوشرت</a></li>
                                    <li><a href="#">لباس راحتی و خواب</a></li>
                                    <li><a href="#">شلوار و سرهمی</a></li>
                                    <li><a href="#">جین</a></li>
                                    <li><a href="#">دامن</a></li>
                                    <li><a href="#">لباس زیر</a></li>
                                    <li><a href="#">شلوارک</a></li>
                                </ul>
                            </li>
                            <li><a href="#"><span class="ri-store-line"></span>سوپرمارکت</a></li>
                            <li><a href="#"><span class="ri-heart-add-line"></span>زیبایی و سلامت</a></li>
                            <li><a href="#"><span class="ri-home-gear-line"></span>خانه و آشپزخانه</a></li>
                            <li><a href="#"><span class="ri-bear-smile-line"></span>اسباب بازی</a></li>
                            <li><a href="#"><span class="ri-book-line"></span>لوازم تحریر</a></li>
                            <li><a href="#"><span class="ri-football-line"></span>ورزش و سفر</a></li>

                        </ul>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item mega-menu-btn">
                        <a class="nav-link" href="#">صفحات</a>
                        <ul class="mega-menu mega-menu-2-col">
                            <li class="nav-item-parent">
                                <a class="nav-link" href="#">صفحه اصلی</a>
                            </li>
                            <li>
                                <a class="nav-link" href="index-1.html">دموی دیجی کالا</a>
                            </li>
                            <li>
                                <a class="nav-link" href="index-2.html">دموی دیجی استایل</a>
                            </li>
                            <li class="nav-item-parent">
                                <a class="nav-link" href="#">فروشگاه</a>
                            </li>
                            <li>
                                <a class="nav-link" href="shop.html">نمایش عمودی</a>
                            </li>
                            <li>
                                <a class="nav-link" href="shop--horizontal-card.html">نمایش افقی</a>
                            </li>
                            <li class="nav-item-parent">
                                <a class="nav-link" href="#">کاربران</a>
                            </li>
                            <li>
                                <a class="nav-link" href="login-register.html">ورود / ثبت نام</a>
                            </li>
                            <li>
                                <a class="nav-link" href="welcome.html">پس از ثبت نام</a>
                            </li>
                            <li>
                                <a class="nav-link" href="verification.html">تایید موبایل</a>
                            </li>
                            <li>
                                <a class="nav-link" href="password-reset.html">ریست پسورد</a>
                            </li>
                            <li class="nav-item-parent">
                                <a class="nav-link" href="#">پروفایل</a>
                            </li>
                            <li>
                                <a class="nav-link" href="profile-addresses.html">آدرس</a>
                            </li>
                            <li>
                                <a class="nav-link" href="profile-comments.html">نظرات</a>
                            </li>
                            <li>
                                <a class="nav-link" href="profile-my-order-detail.html">جزییات سفارش</a>
                            </li>
                            <li>
                                <a class="nav-link" href="profile-tickets.html">تیکت</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="shop.html">فروشگاه</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="faq.html">پرسش های متداول</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact-us.html">تماس با ما</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">درباره ما</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--  page-header-bottom -->
</header>
<!--  page-header -->
<header class="page-header-responsive d-md-none">
    <div class="page-header-responsive-row mb-3">
        <div class="d-flex align-items-center">
            <div class="navigation-container">
                <button class="toggle-navigation"></button>
                <div class="navigation">
                    <div class="navigation-header">
                        <div class="logo-container logo-box">
                            <a href="index-1.html" class="logo">
                                <img src="~/assets/images/logo-dark.png" width="120" alt="">

                            </a>
                        </div>
                    </div>
                    <div class="navigation-body">
                        <ul class="menu">
                            <li>
                                <a href="#" class="toggle-submenu">
                                    <span>زنانه</span>
                                </a>
                                <ul class="submenu">
                                    <li class="close-submenu">
                                        <i class="ri-arrow-right-s-line"></i>
                                        زنانه
                                    </li>
                                    <li>
                                        <a href="#" class="toggle-submenu">
                                            لباس
                                        </a>
                                        <ul class="submenu">
                                            <li class="close-submenu">
                                                <i class="ri-arrow-right-s-line"></i>
                                                لباس
                                            </li>
                                            <li>
                                                <a href="#">تی شرت و پولوشرت</a>
                                            </li>
                                            <li>
                                                <a href="#">لباس راحتی و خواب</a>
                                            </li>
                                            <li>
                                                <a href="#">مانتو، پانچو و رویه</a>
                                            </li>
                                            <li>
                                                <a href="#">شومیز و پیراهن</a>
                                            </li>
                                            <li>
                                                <a href="#">بلوز</a>
                                            </li>
                                            <li>
                                                <a href="#">پیراهن و لباس مجلسی</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <span>مردانه</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <span>بچگانه</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="">
                                    <span>زیبایی و سلامت</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">فروش ویژه</a>
                            </li>
                            <li>
                                <a href="#">برندها</a>
                            </li>
                            <li>
                                <a href="#">خانه طراحان ایرانی</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navigation-overlay"></div>
            </div>
            <div class="logo">
                <a href="#">
                    <img src="~/assets/images/logo-dark.png" alt="">
                </a>
            </div>
        </div>
        <div class="user-options">
            <div class="user-option">
                <a href="profile.html" class="user-option-btn user-option-btn--account">
                    <i class="ri-user-fill icon"></i>
                </a>
            </div>
            <div class="user-option">
                <a href="profile-favorites.html" class="user-option-btn user-option-btn--account">
                    <i class="ri-heart-3-fill icon"></i>
                    <span class="counter">۲</span>
                </a>
            </div>
            <div class="user-option user-option--cart">
                <a href="cart.html" class="user-option-btn user-option-btn--cart">
                    <i class="ri-shopping-bag-2-fill icon"></i>
                    <span class="counter">۴</span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-header-responsive-row">
        <div class="search-container">
            <form action="#" class="search-form">
                <input type="text" class="form-control search-field" placeholder="جستجو">
                <button class="btn btn-primary btn-search btn-action">
                    <i class="ri-search-2-line"></i>
                </button>
                <button class="btn btn-primary btn-close-search-result btn-action d-none">
                    <i class="ri-close-line"></i>
                </button>
            </form>
            <div class="search-result-container">
                <div class="search-result-tags-container">
                    <div class="search-result-tags-label">

                        <i class="ri-fire-line"></i> جستجوهای پرطرفدار
                    </div>
                    <ul class="search-result-tags">
                        <li><a href="#" class="search-result-tag">گوشی موبایل</a></li>
                        <li><a href="#" class="search-result-tag">لوازم خانگی برقی</a></li>
                        <li><a href="#" class="search-result-tag">لپ تاپ</a></li>
                        <li><a href="#" class="search-result-tag">کنسول بازی</a></li>
                        <li><a href="#" class="search-result-tag">دوچرخه</a></li>
                    </ul>
                </div>
                <div class="border-bottom my-3"></div>
                <ul class="search-result-items">
                    <li><a href="#">گوشی موبایل</a></li>
                    <li><a href="#">گوشی موبایل  سامسونگ</a></li>
                    <li><a href="#">گوشی موبایل سامسونگ</a></li>
                    <li><a href="#">قاب گوشی موبایل</a></li>
                    <li><a href="#">گوشی موبایل اپل</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>